<!DOCTYPE html>
<html>
<head>
  <title>Coryslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">
    	<div id="navbar-logo">
    		<% if current_user %>
    			<%= link_to "Cory's List", dashboard_path %>
    		<% else %>
    			<%= link_to "Cory's List", index_path %>
    		<% end %>
    	</div>
    </div>  
  </div>  
</div>  

<%= yield %>

</body>
</html>
